.section-content.text-center {
    h1 {
        font-size: 6rem;
        font-weight: bold;
        color: #EC8101;
        margin-top: 2rem;
    }

    p.lead {
        font-size: 1.2rem;
        margin-top: 1rem;
        color: #555;
    }
}
.h-100vh{
    height: 100vh;
}
